# List Comprehensions

In addition to sequence operations and list methods, Python includes a more advanced operation called a list comprehension.

List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line <code>for</code> loop built inside of brackets. For a simple example:
## Example 1

In [8]:
mystring = 'hello'

In [9]:
mylist = []
for letter in mystring:
    mylist.append(letter)

In [10]:
mylist

['h', 'e', 'l', 'l', 'o']

In [11]:
mylist2 = [letter for letter in mystring]

In [12]:
mylist2

['h', 'e', 'l', 'l', 'o']

In [35]:
mylistnumbers = [number for number in range(1,25,3)]

In [36]:
mylistnumbers

[1, 4, 7, 10, 13, 16, 19, 22]

In [33]:
number = range(1,25,3)

mynumber = []
for num in number:
    mynumber.append(num)

In [34]:
mynumber

[1, 4, 7, 10, 13, 16, 19, 22]

In [14]:
mylistnumbers

[1, 4, 7, 10, 13, 16, 19, 22]

In [24]:
numbsquare = [number**2 for number in range(1,25,3)]

In [25]:
numbsquare

[1, 16, 49, 100, 169, 256, 361, 484]

In [45]:
number = range(1,25,3)

mynumber2 = []
for num in number:
    mynumber2.append((num)**2)

In [46]:
mynumber2

[1, 16, 49, 100, 169, 256, 361, 484]

In [37]:
start = int(input("start from :"))
end = int(input("end to :"))

myEvenlist = [num for num in range(start,end) if num%2 == 0]
print(myEvenlist)

start from :1
end to :25
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [58]:
start = int(input("start from :"))
end = int(input("end to :"))

myEvenlist = [num if num%2 == 0 else 'Odd' for num in range(start,end) ]
print(myEvenlist)

start from :1
end to :10
['Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd']

In [62]:
mylist = []

for x in [2,34,5]:
    for y in [1,10,2]:
        mylist.append(x*y)
print(mylist)

[2, 20, 4, 34, 340, 68, 5, 50, 10]

In [68]:
mylist4 = [x*y for x in [2,43,5] for y in [1,10,2]]
print(mylist4)

[2, 20, 4, 43, 430, 86, 5, 50, 10]

In [30]:
x = int(input("put a number "))
mylist4 = [x*y for y in [1,2,3,4,5,6,7,8,9,10,11,12]]
print(mylist4)

put a number 12
[12, 24, 36, 48, 60, 72, 84, 96, 108, 120, 132, 144]

In [87]:
def isPrime(n):
    if (n < 2):
        return False
    for i in range(2, n//2 +1):
        if (n%i ==0):
            return False
    return True
a = int(input("Enter Lower Range :"))
b = int(input("Enter Higher Range :"))
for x in range(a,b):
    if isPrime(x):
        print(x, end=' ')

Enter Lower Range :3
Enter Higher Range :10
3 5 7

In [1]:
a = int(input("Enter Lower Range :"))
b = int(input("Enter Higher Range :"))

primenumber = [num for num in range(a,b)if 0 not in[num%i for i in range(2,(num//2)+1)]]
print(primenumber)

Enter Lower Range :1
Enter Higher Range :10
[1, 2, 3, 5, 7]

In [6]:
celcius = int(input("enter Celcius to convert :"))

fahrenheit = [((9/5)*celcius + 32)]
print (fahrenheit)

enter Celcius to convert :34
[93.2]

# Method

In [70]:
mylist = []

In [71]:
mylist.append(1)

In [72]:
mylist

[1]

In [80]:
mylist.insert(4,5)

In [81]:
mylist

[1, 2, 3, 5]

In [84]:
#append vs insert 

mylist.append(9)
print(mylist)

[1, 2, 3, 5, 9, 9, 9]

In [85]:
mylist.insert(0,10)

In [86]:
mylist

[10, 1, 2, 3, 5, 9, 9, 9]

# function

In [47]:
def name_function():
    '''
    DOCSTRING : INFORMATION ABOUT THE FUNCTIONS
    INPUT : NO INPUT...
    OUTPUT : HELLO..
    '''
    print('Hello')

In [93]:
name_function

In [96]:
help(name_function)

Help on function name_function in module __main__:

name_function()
    DOCSTRING : INFORMATION ABOUT THE FUNCTIONS
    INPUT : NO INPUT...
    OUTPUT : HELLO..

In [97]:
def say_hello(name):
    print('hello ' +name)

In [98]:
say_hello('hujale')

hello hujale

In [99]:
result = say_hello('saka')

hello saka

In [100]:
result # Nonetype

In [101]:
def say_hello(name):
    return'hello ' +name

In [104]:
result = say_hello('hujale')

In [105]:
result

'hello hujale'

In [7]:
n1 = int(input("Entry Number one :"))
n2 = int(input("Entry Number one :"))
def add(n1,n2):
    return n1+n2
result = add(n1,n2)

print (result)

Entry Number one :2
Entry Number one :3
5

# *Args and **kwargs

In [4]:
a = int(input("Entry a Number :"))
b = int(input("Entry a Number :"))
c = int(input("Entry a Number :"))

def myaddition(a,b):
    return sum((a,b)) # * 0.05

myaddition(a,b)

Entry a Number :2
Entry a Number :3
Entry a Number :2

0.25

In [5]:
a = int(input("Entry a Number :"))
b = int(input("Entry a Number :"))
c = int(input("Entry a Number :"))
d = int(input("Entry a Number :"))
e = int(input("Entry a Number :"))
f = int(input("Entry a Number :"))

def myaddition(*args):
    return sum((args)) # * 0.05

myaddition(a,b,c,d,e,f)

Entry a Number :2
Entry a Number :3
Entry a Number :2
Entry a Number :3
Entry a Number :2
Entry a Number :3

15

# **Kwargs

In [24]:
def mywords(**kwargs):
    if 'fruit' in kwargs:
        print('{} find'.format(kwargs['fruit']))
    else :
        print('{} I didnt find '.format(kwargs['fruit']))

In [25]:
mywords(fruit='apple')

apple find