In [1]:
((not 2==3) and (2!=2)) or (1>=1 or 1> 99) # true this coditons is true 1>=1

True

In [21]:
3 <= 3 # truee because of or condtion (three is less then or equal three)

True

In [23]:
N_123No = 'zakaria' # true because its follow varaible rules

print (N_123No)

zakaria

In [24]:
False # there is python two

False

In [25]:
3 >= 2 and 2<= 3 # both are true

True

In [28]:
1 >=1 and 1 ==1 # true because both are true

True

In [29]:
True

True

In [31]:
8 // 2 # False cause 8 floor division // by 2 = 4

4

In [32]:
8 % 2 # False reminder is 0

0

In [ ]:
False # cause these are special characters

In [36]:
full_name = "zakaria Ali sheekh"
city = "hargeisa"

print (full_name[-8])
print (city[::-1])

i
asiegrah

In [50]:
name = "zakaria"
subject = "python"
university = "Gollis"
print(f"name {name} subject {subject} university {university}")
print ("name {} subject {} University {}".format("zakaria","python","Gollis"))
print ("name %s subject %s university %s" % ("zakaria","python","Gollis"))

name zakaria subject python university Gollis
name zakaria subject python University Gollis
name zakaria subject python university Gollis

In [55]:
my_Dictionary = {'aqoon':'waa garasho iyo garaad kugu siyaada hab wax dhigasho ama waayo aragnimo'}
print(my_Dictionary['aqoon'])

waa garasho iyo garaad kugu siyaada hab wax dhigasho ama waayo aragnimo

In [56]:
myset = set()

In [57]:
myset.add(1)

In [58]:
myset

{1}

In [59]:
mytuple = (1,2,35,3)

In [60]:
mytuple

(1, 2, 35, 3)

In [61]:
mylist = [1,23,4,5,6,7]

In [62]:
mylist

[1, 23, 4, 5, 6, 7]

In [17]:
((2 / 2) + 2 + 4 - 3 + (5 % 7) + ((10 * 2) + (2 // 2)) ** 2 )

450.0

In [15]:
2 / 2

1.0

In [12]:
5 % 7

5

In [13]:
(10 * 2) + (2 // 2)

21

In [14]:
 21 ** 2

441

In [2]:
1 + 2 + 4 - 3 + 5 + 21 ** 2

450

In [11]:
1 + 2 + 4 - 3 + 5 + 441

450